### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [171]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
school_data_to_load ="C:/Users/smile/PythonStuff/Pandas_Challenge/Resources/schools_complete.csv"
student_data_to_load ="C:/Users/smile/PythonStuff/Pandas_Challenge/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [51]:
total_schools=school_data['School ID'].count()
total_schools

15

In [34]:
total_students=school_data['size'].sum()
total_students

39170

In [35]:
total_budget=school_data['budget'].sum()
# total_budgetf=total_budget.map('${:,.2f}'.format)
total_budget

24649428

In [5]:
# Read School and Student Data File and store into Pandas DataFrames
student_data = pd.read_csv(student_data_to_load)
student_data.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79

In [6]:
avg_math=student_data['math_score'].mean()
avg_math

78.98537145774827

In [7]:
avg_reading=student_data['reading_score'].mean()
avg_reading

81.87784018381414

In [200]:
passing_math=student_data[student_data['math_score']>=70].count()["student_name"]
passing_math_perc=round((passing_math/total_students)*100,6)  
passing_math_perc

29370

In [175]:
passing_reading=student_data[student_data['reading_score']>=70].count()["student_name"]
passing_reading_perc=round((passing_reading/total_students)*100,6)  
passing_reading_perc

85.805463

In [176]:
overall=student_data[(student_data['math_score']>=70)&(student_data['reading_score']>=70)].count()["student_name"]
overall=round((overall/total_students)*100,6)
overall

65.172326

In [177]:
# Total_schools_to_Overall_Passing
district_summary=pd.DataFrame({"Total Schools": [total_schools],
                               "Total Students": [total_students],
                               "Total Budget": [total_budget],
                               "Average Math Score": [avg_math],
                               "Average Reading Score": [avg_reading],
                               "% Passing Math":[passing_math_perc],
                               "% Overall Passing": [overall]
                              }
                             )
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,65.172326

In [178]:
district_summary['Total Budget']=district_summary['Total Budget'].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [179]:
#School Name
school_name=school_data['school_name'].unique()

#School Type
school_type=school_data[["type"]]

#Total students
students_school=school_data['size']

#budget per student- add on column
budget_per_student=school_data["budget"]/students_school
school_data['budget_per-student']=budget_per_student

# Combine the data into a single dataset.  
#Merge school and students
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,budget_per-student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,655.0
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,655.0
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,655.0
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,655.0
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,655.0

In [180]:
# Set school as index and groupby school for merge_df to get average scores by school
index = school_data_complete.set_index('school_name')
schools = index.groupby(['school_name'])
schools

In [194]:
# Create an overview table that summarizes key metrics about each school, including:
# Average Math Score
avg_m_school=schools["math_score"].mean()
avg_m_school.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [129]:
#groupby to get Average math Score by school

avg_grouped_math=pd.DataFrame(grouped['math_score'].mean())
avg_grouped_math.head()

                      math_score
school_name
Bailey High School     77.048432
Cabrera High School    83.061895
Figueroa High School   76.711767
Ford High School       77.102592
Griffin High School    83.351499

In [195]:
# Average Reading Score
avg_r_school=schools["reading_score"].mean()
avg_r_school.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [128]:
#groupby to get Average reading Score by school

avg_grouped_reading=pd.DataFrame(grouped['reading_score'].mean())
avg_grouped_reading.head()

                      reading_score
school_name
Bailey High School        81.033963
Cabrera High School       83.975780
Figueroa High School      81.158020
Ford High School          80.746258
Griffin High School       83.816757

In [201]:
passing_matha=student_data[student_data['math_score']>=70]
passing_matha

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [202]:
# # % Passing Math
total_stu=schools['student_name'].count()
grouped_math=passing_matha.groupby('schools')
passing_m_school= grouped_math['student_name'].count()/total_stu*100

KeyError: 'schools'

In [197]:
# # % Passing Reading
passing_r_school=schools[schools['reading_score']>=70].count()["reading_score"]
passing_r_school=round((all_passing_reading/total_students)*100,6)

TypeError: '>=' not supported between instances of 'SeriesGroupBy' and 'int'

In [204]:
# % Overall Passing (The percentage of students that passed math and reading.)
pass_mr=(passing_m_school+passing_r_school)/2

NameError: name 'passing_m_school' is not defined

In [203]:
# Create an overview table that summarizes key metrics about each school, including:

#put all values in df
schools_analysis=pd.DataFrame({"Schools":[school_name],
                              "School Type": [school_type],
                               "Total School Budget": [total_budget],
                               "Per Student Budget": [budget_per_student],
                               "Avg Math Score": [avg_m_school],
                               "Avg Reading Score": [avg_r_school],
                               "% Passing Math": [passing_m_school],
                               "% Passing Reading":[passing_r_school],
                                "% Passing Overall":[pass_mr]
                                 })
schools_analysis

NameError: name 'passing_m_school' is not defined

In [147]:
#% passing math by school
per_school_counts=school_data_complete["school_name"].value_counts()
school_passing_math=school_data_complete[(school_data_complete["math_score"]>=70)]
per_school_passing_math=school_passing_math.groupby(["school_name"]).count()[student_name"]/ per_school_counts*100
                                                                             
# all_passing_math=school_data_complete[school_data_complete['math_score']>=70].count()["math_score"]
# all_passing_math_perc=round((all_passing_math/total_students)*100,6)  
# all_passing_math_perc

SyntaxError: EOL while scanning string literal (<ipython-input-147-04a1ffea8d63>, line 4)

In [146]:
#grouped=student_data.groupby("school_name")
avg_grouped_math=["% math passing"]=all_passing_math_perc.groupby("school_name", "")
avg_grouped_math.head()

AttributeError: 'numpy.float64' object has no attribute 'groupby'

## Top Performing Schools (By % Overall Passing)

In [ ]:
#groupby to get Average Reading Score by school

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type